@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  background: #f1f4f3;
  font-family: Helvetica, sans-serif;
}
